.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 30px;
  align-items: center;
  background-color: #3e2723; /* coffee color */
  color: #fffbea;
  /* position: sticky; */
  top: 0;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #ffcc80;
}
